body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #333;
  color: #fff;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10px;
}

body .form-group input[type="email"],
body .form-group input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

body.dark .form-group input[type="email"],
body.dark .form-group input[type="password"] {
  border: 1px solid #000000;
  background-color: #000000;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

.form-group button:hover {
  background-color: #79baff;
}

.theme-toggle-button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: inherit;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
