.cad-agenda {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 14px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: solid white;
}

.delete-button {
  padding: 8px 12px;
  background-color: #a00202;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff5549;
}

.edit-button {
  padding: 8px 12px;
  background-color: #0050a0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #3a8fd9;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

.list-container {
  max-width: 2000px;
  margin-top: 25px;
  padding: 20px;
  background-color: #525252;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #525252;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #525252;
}

.message {
  text-align: center;
  color: #666;
}

.message.error {
  color: #d40700;
}
