
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    height: 90px;
    background-color: #00000080;
}

.agenda{
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 14px;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    border: solid white;
}

.lista-funcionario{
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 14px;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    border: solid white;
}

.formulario{
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 14px;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    border: solid white;
}

.imgLogo {
    width: 100%;
    margin-top: 25px;
    height: 120px;
}